<div class="container">
  <div class="row">
    <div class="col">
      <h1>Happy Halloween!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="sketch-container">
        <div id="sketch-holder"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        This project uses the <a href="https://p5js.org/">P5JS</a> library for
        graphics and the interactive components you see here. Its open source
        and can be viewed at
        <a href="https://github.com/andrewevans0102/halloween-javascript"
          >https://github.com/andrewevans0102/halloween-javascript</a
        >. The pumpkin was orignally based on a prcessing sketch<a
          href="https://www.openprocessing.org/sketch/169302/"
        >
          here </a
        >. Contact me on Twitter at
        <a href="https://www.twitter.com/andrewevans0102">@AndrewEvans0102</a>
      </p>
    </div>
  </div>
</div>
